@media screen and (max-width: 499px) {
  .incomes .ui.raised.segment {
    top: 10vh;
    min-width: 87vw;
    margin-top: 5vh;
  }
}
@media screen and (min-width: 500px) {
  .incomes .ui.raised.segment {
    top: 2vh;
    min-width: 100%;
  }
}
