.menu-mobile .header-fixed {
  background-color: #e03997;
  height: 7vh;
  width: 100vw;
  position: fixed;
  box-shadow:7px 7px 50px grey;
  z-index: 9
}

.menu-mobile .icon {
  font-size: 4vh;
  color: white;
  margin-top: 2vh !important;
  margin-left: 2vh;

}
