@media screen and (max-width: 499px) {
  .orders .ui.raised.segment {
    top: 10vh;
    min-width: 87vw;
  }
}
@media screen and (min-width: 500px) {
  .orders .ui.raised.segment {
    top: 2vh;
    min-width: 100%;
  }
}

.cart-details ol {
  line-height: 6px;
  font-style: italic;
}
