@media screen and (max-width: 499px) {
  .menu-mobile {
    display: block;
  }
  .menu {
    display: none;
  }
}
@media screen and (min-width: 500px) {
  .menu-mobile{
    display: none;
  }
  .menu {
    display: block;
  }

  .header_component {
    max-width: 15em;
    float: left;
    height: 100%
  }
}

a.item {
  color: white !important;
  font-weight: 700 !important;
}

.ui.pink.vertical.tabular.menu {
  height: 100%;
  background-color: #ea158d;
}