.navigation_menu {
  width: 13vw;
  float: left;
  height: 100%;
  position: fixed;
  background-color: #ea158d85;
}

.ui.vertical.tabular.menu .active.item {
  margin: 0;
}

a.item {
  color: white !important;
  font-weight: 700 !important;
}

.navigation_menu .ui.pink.vertical.tabular.menu {
  height: 100%;
  width: 100%;
  border-right: none;
}