.notice{
  top: 35%;
  position: absolute;
  width: 60vw;
  text-align: center;
  left: 20vw;
}

h1{
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: Times New Roman;
  font-size: 7vw
}
