body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Media queries */
@media screen and (max-width: 480px) {
  .background-img{
    max-width: unset !important;
  }
  .background-img.small{
    display: block;
  }
  .background-img.big{
    display: none;
  }

  .notice {
      margin: 0 auto;
      top: 35%;
      position: absolute;
      left: 30%;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
  }

  h1{
    font-size: 38px !important
  }
}
